.hide {
    display: none;
}

.show {
    display: flex;
}

#game {
    min-height: 110vh;
    overflow-x: hidden;
}
.dragon-bg {
    background: linear-gradient(red, yellow);
}
.got-bg {
    background: linear-gradient(black, red);
}
.space-bg {
    background: linear-gradient(black, blue, black);
}
.football-bg {
    background: linear-gradient(to left, lightgreen, white, lightgreen);
}

#control-board {
    width: 10%;
    background: linear-gradient(slategray, silver, grey);
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    z-index: 10;
}

#main-screen-wrapper {
    width: 90%;
}

@keyframes messageIn {
    0% {transform: translateX(100%); opacity: 1}
    30% {transform: translateX(-10%); opacity: 1}
    40% {transform: translateX(0%); opacity: 1}
    50% {transform: translateX(0%); opacity: 1}
    60% {transform: translateX(0%); opacity: 1}
    70% {transform: translateX(10%); opacity: 1}
    100% {transform: translateX(-100%); opacity: 0}
}
#message-board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 15%;
    margin: 0 auto;
    transform: translateX(100%);
}
.coming-in {
    animation: messageIn 8s ease-out;
}
@keyframes rolling {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}
.message-img {
    height: 50px;
    animation-name: rolling;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
#message-text {
    min-width: 250px;
    text-align: center;
}

#card-grid {
    display: grid;
    width: 75vw;
    height: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(5, minmax(25px, 1fr));
    grid-auto-rows: 40vh;
    grid-gap: 20px;
}

.card {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.space-card {
    background-image: url('./public/images/space/earth.jpeg');
}
.football-card {
    background-image: url('./public/images/football/stadium2.jpeg');
}
.got-card {
    background-image: url('./public/images/GoT/winter.jpeg');
}
.card:hover {
    border: 5px solid red;
    cursor: pointer;
}

.card-img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-img-big {
    width: 150px;
}
.card-img-small {
    width: 75px;
}

@keyframes cardRotation {
    0% {transform: rotate3d(3, 0, 3, 0deg)}
    100% {transform: rotate3d(3, 0, 3, 360deg)}
}

.rotating {
    animation-name: cardRotation;
    animation-timing-function: linear;
    animation-duration: 1s;
}

/* */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    height: 100vh
}