/* CSS Starter Reset */
* {
	outline: 0;
	padding: 0;
	margin: 0;
}

/* Font configuration */
@font-face {
    font-family: 'Macondo';
    src: url('./public/fonts/got/Macondo-Regular.ttf')
}

@font-face {
    font-family: 'Archivo-Regular';
    src: url('./public/fonts/dragonball/ArchivoBlack-Regular.ttf');
}

@font-face {
    font-family: 'Space-Regular';
    src: url('./public/fonts/space/ChakraPetch-Regular.ttf')
}
@font-face {
    font-family: 'Space-Italic-Bold';
    src: url('./public/fonts/space/ChakraPetch-BoldItalic.ttf')
}
@font-face {
    font-family: 'Space-Bold';
    src: url('./public/fonts/space/ChakraPetch-Bold.ttf');
}

/* General classes */
.hide {
    display: none;
}

.show {
    display: flex;
}
.column-center {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.btn {
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
}
.btn:hover {
    cursor: pointer;
    border: 4px solid black;
}
.btn-alert {
    background-color: red;
}
.btn-success {
    background-color: green;
}


/*  */
#game {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 40px 0 100px;
}

/* In-game background styles */
.dragon-bg {
    background: linear-gradient(red, yellow);
}
@keyframes saiyanAttack {
    0% {opacity: 1; width: 0%}
    70% {opacity: 1; width: 150%}
    80% {opacity: 0.75; width: 75%}
    90% {opacity: 0.5; width: 50%}
    92% {opacity: 0.25; width: 25%}
    95% {opacity: 0.15; width: 15%}
    97% {opacity: 0.05; width: 5%}
    100% {opacity: 0; width: 0%}
}
@keyframes punchHit {
    0% {background: linear-gradient(red, yellow)}
    20% {background: white}
    40% {background: linear-gradient(red, yellow)}
    60% {background: white}
    80% {background: linear-gradient(red, yellow)}
    100% {background: white}
}
@keyframes gatherKamehameha {
    0% {background: linear-gradient(red, yellow)}
    100% {background: linear-gradient(blue, skyblue, skyblue, white, skyblue, skyblue, blue)}
}
@keyframes releaseKamehameha {
    0% {background: linear-gradient(skyblue, white, skyblue)}
    10% {background: linear-gradient(blue, skyblue, skyblue, white, skyblue, skyblue, blue)}
    30% {background: skyblue; opacity: 0.5}
    35% {background: skyblue; opacity: 1}
    40% {background: skyblue; opacity: 0.5}
    45% {background: skyblue; opacity: 1}
    50% {background: linear-gradient(skyblue, white, skyblue); opacity: 0.5}
    55% {background: linear-gradient(skyblue, white, skyblue); opacity: 1}
    60% {background: linear-gradient(skyblue, white, skyblue); opacity: 0.5}
    65% {background: linear-gradient(skyblue, white, skyblue); opacity: 1}
    70% {background: linear-gradient(skyblue, white, skyblue); opacity: 0.5}
    75% {background: linear-gradient(skyblue, white, skyblue); opacity: 1}
    80% {background: white; opacity: 0.5}
    85% {background: white; opacity: 1}
    90% {background: linear-gradient(skyblue, white, skyblue); opacity: 0.5}
    95% {background: linear-gradient(skyblue, white, skyblue); opacity: 1}
    100% {background: white; opacity: 0.5}
}
.get-attacked {
    animation-name: saiyanAttack;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}
.get-punched {
    animation-name: punchHit;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.kame-gather {
    animation-name: gatherKamehameha;
    animation-duration: 0.15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.kame-attack {
    animation-name: releaseKamehameha;
    animation-duration: 10s;
    animation-timing-function: ease-in;
}
.got-bg {
    background: linear-gradient(black, red);
}
.space-bg {
    background: linear-gradient(black, blue, black);
}
@keyframes alarmOn {
    0% {background: linear-gradient(black, blue, black)}
    100% {background: radial-gradient(darkorange, red, darkred, darkred, darkred, black)}
}
.space-alarmed {
    animation-name: alarmOn;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
}
.football-bg {
    background: linear-gradient(to left, lightgreen, white, lightgreen);
}


/* In-game control board styles */
#main-control-board {
    display: flex;
    position: relative;
    left: 25px;
    top: 75px;
    width: 20vw;
    height: 75vh;
    background: linear-gradient(slategray, silver, grey);
    border: 3px solid black;
    border-radius: 50px;
    z-index: 10;
}
.status-img-wrapper img {
    height: 150px;
}
.status-img-wrapper [src*="football"] {
    height: 120px;
}
.status-info-panel {
    display: flex;
}
.control-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cronometer-wrapper {
    display: flex;
}
.icon-wrapper {
    cursor: pointer;
}
.icon-wrapper:first-child {
    margin-right: 20px;
}
.icon-wrapper:nth-child(2) {
    margin-right: 40px;
}
.icon-wrapper img {
    width: 40px;
}
.icon-wrapper:first-child img {
    width: 50px;
}

/*  */
#main-screen-wrapper {
    width: 100%;
}

/* In-game messaging styles */
@keyframes messageIn {
    0% {transform: translateX(100%); opacity: 1}
    30% {transform: translateX(-10%); opacity: 1}
    40% {transform: translateX(0%); opacity: 1}
    50% {transform: translateX(0%); opacity: 1}
    60% {transform: translateX(0%); opacity: 1}
    70% {transform: translateX(10%); opacity: 1}
    100% {transform: translateX(-100%); opacity: 0}
}
#message-board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 75px;
    margin: 0 auto 10px;
    transform: translateX(100%);
}
.coming-in {
    animation: messageIn 8s ease-out;
}
@keyframes rolling {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}
.message-img {
    height: 50px;
    animation-name: rolling;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
#message-text {
    min-width: 250px;
    text-align: center;
    padding: 0 20px;
    font-size: 20px;
}

#ending-msg {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
}
@keyframes textGrow {
    0% {font-size: 0}
    70% {font-size: 12vw}
    80% {font-size: 10vw}
    90% {font-size: 12vw}
    100% {font-size: 10vw}
}
.txt-appearing {
    animation-name: textGrow;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

/* In-game card styles */
#card-grid {
    position: relative;
    display: grid;
    width: 75vw;
    height: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(5, minmax(25px, 1fr));
    grid-auto-rows: 40vh;
    grid-gap: 20px;
}

.card {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@keyframes cardRotation {
    0% {transform: rotate3d(3, 0, 3, 0deg)}
    100% {transform: rotate3d(3, 0, 3, 360deg)}
}

.rotating {
    animation-name: cardRotation;
    animation-timing-function: linear;
    animation-duration: 1s;
}
.space-card {
    background-image: url('./public/images/space/earth.jpeg');
}
.space-card:hover {
    border: 5px solid yellow;
}
.football-card {
    background-image: url('./public/images/football/stadium2.jpeg');
}
.dragonball-card:hover, .football-card:hover {
    border: 5px solid black;
}
.got-card {
    background-image: url('./public/images/GoT/winter.jpeg');
}
.got-card:hover {
    border: 5px solid white;
}
.card:hover {
    cursor: pointer;
}

.card-img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-img-big {
    width: 150px;
}
.card-img-small {
    width: 75px;
}

/* Pop-up related styles */
.body-freeze{
    overflow: hidden;
}
.main-freeze {
    background-color: black;
}
.game-freeze {
    opacity: 0.2;
    pointer-events: none;
}
.body-relive{
    overflow: initial;
}
.main-relive {
    background-color: white;
}
.game-relive {
    opacity: 1;
    pointer-events: initial;
}

#popup-box {
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    height: 100vh
}